.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**/@types/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
../../**
../**

